* {
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    color: blue;
    font-style: italic;
    font-size: 100px;
    margin: 0;

}
p{
    color: gray;
    font-size: 24px;
    font-weight: 700;
}
img{
   width: 300px; 
   height: 280px;
}
/* div{
  border:20px solid blue;
  margin: 30px 20px;
  border-radius: 30px; */

}
button{
background-color: green;
color: white;
}
#sundorbon-bangladesh{
   background-color: rgb(206, 243, 231); 
}
#sundorbon-india{
    background-color: yellow;
}
.para{
    background-color: rgba(239, 42, 124, .8);
    border: 20px solid blue;
    margin: 100px;
    padding: 50px;
    box-shadow: -20px -10px 10px rgba(36, 134, 213, .5);
}
.tigers{
   display: flex;
   justify-content: space-evenly;
}
header{
    height: 90vh;
    /* width: fit-content; */
    /* width: auto; */
    background-image:url(../images/tiger2.jpg) ;
    background-repeat: no-repeat;
    /* background-repeat: inherit; */
    /* border-radius: 300%; */
    background-size: 100% 100%;
    /* background-position-x: 500px;
    background-position-y: 200; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    
}
header h1{
    font-size: 200px;
    color: white;
}
